%flexProperty {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gameStatusContainer {
    @extend %flexProperty;
    background-color: hsla(197, 24%, 94%, 0.5);
    border-radius: 1.5rem;
    box-shadow:  inset 0 0 1rem hsl(228, 25%, 12%, 0.25);

    &-secretNumberBox {
        @extend %flexProperty;
        position: relative;
        align-self: center;
        color: #320E3B;
        width: 7.6rem;
        height: 7.6rem;
        box-shadow:  inset 0 0 1rem hsl(228, 25%, 12%, 0.25);
        border-radius: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: center;

        &--icon {
            position: absolute;
            opacity: 0.8;
            font-size: 6rem;
            animation: iconRotate 1s infinite;
        }

        @keyframes iconRotate {
            0% {
                transform: rotate(90deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        &--secretNumber {
            position: absolute;
            font-size: 2.6rem;
        }

        .disabled {
            display: none;
        }
    }

    &-display {
        @extend %flexProperty;
        margin-left: 2.5rem;
        margin-bottom: 3rem;
        &--p {
            @extend %flexProperty;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            font-size: 1.6rem;
            color: #320E3B;
            font-weight: 700;

        }
    }

    .highlight {
        box-shadow: 0 0 0 0.25rem  hsl(228, 25%, 12%, 0.7);
        background-color: hsl(228, 25%, 12%, 0.7);
        color: white;
        font-weight: bold;
        
        animation: beatEffect 1s infinite;
    }

    @keyframes beatEffect {
        0% {
            transform: scale(1) translateY(-50%);
            
        }

        50% {
            transform: scale(1.1) translateY(-50%);
        }

        100% {
            transform: scale(1) translateY(-50%);
        }
    }
}