%flexProperty {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gamePlayer {
    @extend %flexProperty;
    padding: 2rem;
    background-color: hsla(197, 24%, 94%, 0.5);
    border-radius: 1.5rem;
    box-shadow:  inset 0 0 1rem hsl(228, 25%, 12%, 0.25);
    gap: 3rem;

    &-msg {
        width: 100%;
        text-align: center;
        font-size: 2.25rem;
        color: #320E3B;
        font-weight: 700;
    }

    &-InnerContainer {
        @extend %flexProperty;
        gap: 1rem;

        &--randomNumber {
            background-color: #320E3B;
            box-shadow: 0 0.5rem 0.5rem 0 hsla(288, 65%, 26%, 0.25);
            color: white;
            text-align: center;
            padding: 0.75rem 1.6rem;
            border-radius: 0.7rem;
            font-weight: 600;
            font-size: 1.6rem;
        }

        &--Interaction {
            @extend %flexProperty;

            &_input {
                border-radius: 1rem;
                text-align: right;
                border: 3px solid hsla(288, 62%, 14%, 0.5);
                height: 4rem;
                font-size: 1.6rem;
                font-family: inherit;
                font-weight: 600;
                background-color: #DBDFFF;
                padding-right: 1.6rem;

                &::placeholder {
                    color: #320E3B;
                }

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &_btnContainer {
                @extend %flexProperty;
                flex-direction: row;
                justify-content: space-between;

                .btn {
                    @extend %flexProperty;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 0.6rem;
                    background-color: #320E3B;
                    border: none;
                    color: #DBFCFF;
                    font-family: inherit;
                    font-size: 1.6rem;
                    cursor: pointer;
                    box-shadow: 0 3px 3px 0 hsla(288, 65%, 26%, 0.501);
                    transition: 0.25s;
                    
                    &:hover {
                        box-shadow: 0 0 0 0 transparent;
                        transform: translateY(3px);
                        background-color: hsl(231, 100%, 81%);
                        color: #320E3B;
                    }

                    &:disabled {
                        box-shadow: 0 0 0 0 transparent;
                        transform: translateY(3px);
                        background-color: hsl(231, 100%, 81%);
                        color: #320E3B;
                        cursor:default;
                    }

                }

                &--restart {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }

                &--check {
                    border-radius: 1rem;
                    padding: 0 1rem;

                    &-icon {
                        width: 1.75rem;
                        height: 1.75rem;
                    }
                }
            }
        }
    }
}